name: Java CI with Gradle

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up JDK 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Run SUT
        run: java -jar artifacts/app-ibank.jar -P:profile=test &

      - name: Wait for SUT to start
        run: sleep 10

      - name: Build with Gradle
        run: ./gradlew test --info -Dselenide.headless=true